<div ng-controller="TestController as test">
    <input type="number" value="" ng-model="test.num" class="form-control" />
    <input type="number" value="" ng-model="test.num2" class="form-control" />
    <button class="btn btn-success" ng-click="test.emit()">OK</button>
    <button ng-click="test.sum()" class="btn btn-success">Sum</button>
</div>